## spaCy model

In [1]:
from post_install import ensure_spacy_model, restart_kernel

In [2]:
ensure_spacy_model()

Checking for spaCy model: en_core_web_sm
âœ… Model 'en_core_web_sm' is already installed.

In [3]:
restart_kernel()

In [4]:
from main.loader import load_data
from main.pre_processing import basic_cleaning
from main.tokenization import tokenize_corpus


import kagglehub
import os

c:\Users\Kevin\OneDrive\Personal\GitHub\NLP\text-processing-and-tokenization\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Load data

In [5]:
# Download dataset
dataset_path = kagglehub.dataset_download("kazanova/sentiment140")

# Build full path to CSV
csv_file = os.path.join(dataset_path, "training.1600000.processed.noemoticon.csv")


df = load_data(csv_file)

In [6]:
df.head(10)

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

## Process Data

In [7]:
df_cleaned = basic_cleaning(df, 'text')
df_cleaned.head(10)

                                                text
0  a thats a bummer you shoulda got david carr of...
1  is upset that he cant update his facebook by t...
2  i dived many times for the ball managed to sav...
3     my whole body feels itchy and like its on fire
4  no its not behaving at all im mad why am i her...
5                                 not the whole crew
6                                         need a hug
7  hey long time no see yes rains a bit only a bi...
8                            nope they didnt have it
9                                       que me muera

## Tokenize Data

In [ ]:
tokens = tokenize_corpus(df_cleaned)

In [ ]:
tokens